@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div><img src="~/images/HomeImage.png" alt="BMW8"></div> 
    <a class="button btn btn-danger" asp-area="" asp-controller="Cars" asp-action="Index">See more!</a>
</div>
