html {
    font-size: 36px;
  
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
h1
{
 margin-bottom:30px ;
}
html {
    position: relative;
    min-height: 100%;
   font-palette:light;
}


body {
background-image:url(../images/assets/Background.jpg);
    font-size: 20px;
}

img {
    width: 75%;
    height: auto;

}
.img-rentals {
    width: 250px;
    height: auto;
}
.image {
    margin-top:0px;
    margin-bottom:0px;
    width:400px;
    height:auto;
}
td
{
    margin-top: 30px;
}

.button-40 {
    
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
   
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-41 {
    background-color: darkred;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

    .button-40:hover {
        background-color: #374151;
    }

    .button-40:focus {
        box-shadow: none;
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

@media (min-width: 768px) {
    .button-40 {
        padding: .75rem 1.5rem;
    }
}
.icon
{
    width: 50px;
    height:auto;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    margin-top:10px;
    margin-bottom:10px;
}


.tab {
    width: 100%;
    border: 1px solid $color-form-highlight;
}

.tab-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: ($half-spacing-unit * 1.5) 0;
}

.tab-row {
    display: flex;
    width: 100%;
    padding: ($half-spacing-unit * 1.5) 0;
    &:nth-of-type(odd)

{
    background: $color-form-highlight;
}
}