html {
    font-size: 14px;
  
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image:url(../images/assets/background.jpg)
}

img {
    width: 50%;
    height: auto;
}

.button {
    align-content:center;
    text-align: center;
    align-items:inherit;
}
.icon
{
    width: 50px;
    height:auto;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}